.imageWrapper {
	position: relative;
	width: 100%;
	height: auto; /* Changed to auto for responsive height */
	max-width: 625px;
	max-height: 375px;
	margin: 0 auto;
}

.slideImage {
	width: 100%; /* Changed to width for responsive width */
	height: auto; /* Changed to auto for responsive height */
}
