.container {
	background: url("https://images.unsplash.com/photo-1533335121856-52d185e85ec1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80")
		no-repeat center center fixed;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	padding: 0 1rem;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	width: 100%; /* Adjusted width to occupy the full width of the container */
	max-width: 800px; /* Added max-width to limit the content width on larger screens */
}

.title {
	margin-bottom: 1rem;
	font-size: 3.5rem; /* Adjusted font size for mobile */
	color: #fff;
}

.subtitle {
	margin-bottom: 1.5rem;
	font-size: 2.5rem; /* Adjusted font size for mobile */
	color: #fff;
}

.description {
	margin-bottom: 2rem;
	font-size: 2rem; /* Adjusted font size for mobile */
	color: #fff;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
	max-width: 800px;
	width: 100%;
	margin-top: 2rem;
}

.card {
	padding: 1.5rem;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
	border: 5px solid #fff;
	border-radius: 30px;
	transition: border-color 0.15s ease;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card:hover,
.card:focus,
.card:active {
	border: 8px solid black;
	transition: all 0.3s ease;
	transform: translateY(-5px);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 2.5rem; /* Adjusted font size for mobile */
}

.card p {
	margin: 0;
	font-size: 1.8rem; /* Adjusted font size for mobile */
	line-height: 1.5;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.footer a {
	color: #fff;
}

.logo {
	height: 1em;
}

@media (max-width: 768px) {
	.container {
		padding-top: 64px; /* Height of the navigation bar */
	}
	.title {
		font-size: 2rem; /* Adjusted font size for smaller screens */
	}

	.subtitle {
		font-size: 1.8rem; /* Adjusted font size for smaller screens */
	}

	.description {
		font-size: 1.5rem; /* Adjusted font size for smaller screens */
	}

	.card h2 {
		font-size: 2rem; /* Adjusted font size for smaller screens */
	}

	.card p {
		font-size: 1.5rem; /* Adjusted font size for smaller screens */
	}
}
