.container {
	background: url("https://images.unsplash.com/photo-1533335121856-52d185e85ec1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80")
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cardsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: sticky;
	margin-top: 1rem;
}

.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project-container {
	transition: transform 0.3s ease;
	margin-top: 30rem;
	position: relative;
	z-index: 0;
}

.project-container:hover {
	transform: scale(1.1);
	z-index: 1;
}

.project-container:hover ~ .project-container {
	filter: blur(2px);
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	text-align: center;
}

.title,
.description {
	text-align: center;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	color: #fff;
}

nav.fixed {
	z-index: 100; /* Increase the z-index value */
}

/* Add media queries for responsive design */
@media screen and (max-width: 1024px) {
	.title {
		font-size: 3rem;
	}
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 2rem;
	}
}

@media screen and (max-width: 480px) {
	.title {
		font-size: 1.5rem;
	}
}
