.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	margin: 25px;
	line-height: 1.15;
	font-size: 4rem;
	text-align: center;
}

.resumeContent {
	max-width: 800px;
	text-align: left;
	margin-bottom: 2rem;
}

.section {
	margin-bottom: 2rem;
}

.sectionTitle {
	margin-bottom: 1rem;
}

.sectionSubtitle {
	margin-bottom: 0.5rem;
}

.download {
	margin-bottom: 2rem;
}

.download a {
	padding: 0.5rem 1rem;
	background-color: #0070f3;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
}

.download a:hover {
	background-color: #0050c3;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.resumeImage {
	background-image: url("/resume-image.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
	width: 300%;
	height: 100vh;
	z-index: 1;
}

/* Add media queries for responsive design */
@media screen and (max-width: 1024px) {
	.title {
		font-size: 3rem;
	}
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 2rem;
	}

	.resumeImage {
		width: 400%;
	}
}

@media screen and (max-width: 480px) {
	.title {
		font-size: 1.5rem;
	}

	.resumeImage {
		width: 600%;
	}
}
