.container {
	background: url("https://images.unsplash.com/photo-1533335121856-52d185e85ec1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80")
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.main {
	padding: 2rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.title {
	margin: 1rem;
	line-height: 1.15;
	font-size: 2.5rem;
	text-align: center;
	color: #fff;
}

.resumeImage {
	background-image: url("/resume-image.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: auto;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Responsive styles */
@media only screen and (min-width: 600px) {
	.main {
		padding: 5rem 0;
	}

	.title {
		font-size: 4rem;
		margin: 25px;
	}

	.resumeImage {
		height: 100vh;
	}
}
